{"filter":false,"title":".gitignore","tooltip":"/instagram_app/.gitignore","ace":{"folds":[],"scrolltop":141,"scrollleft":0,"selection":{"start":{"row":24,"column":5},"end":{"row":24,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"b82f1459d389256566e42a7006cb0585eef11014","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":21,"column":0},"end":{"row":21,"column":15},"action":"insert","lines":["public/uploads/"],"id":2}],[{"start":{"row":20,"column":15},"end":{"row":21,"column":0},"action":"insert","lines":["",""],"id":3}],[{"start":{"row":22,"column":15},"end":{"row":23,"column":0},"action":"insert","lines":["",""],"id":4},{"start":{"row":23,"column":0},"end":{"row":24,"column":0},"action":"insert","lines":["",""]}],[{"start":{"row":24,"column":0},"end":{"row":24,"column":5},"action":"insert","lines":["/.env"],"id":5}]]},"timestamp":1600344711416}